body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    color: white;
    background-color: rgb(70, 13, 13);
}
textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}
.contador {
    margin-top: 10px;
    font-weight: bold;
}