body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  color: white;
  background-color: black;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo{
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
}

.menu{
  list-style: none;
  display: flex;
  gap: 20px;
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.menu-toggle{
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

.menu-toggle img{
  width: 25px;
  height: 25px;
}

@media(max-width:768px){
  .menu{
    height: auto;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: black;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
    gap: 15px;
    display: none;
  }
  .menu.show{
    display: flex;
  }
  .menu-toggle{
    display: block
  }
}


